 body{
    background-image: url(https://foni.club/uploads/posts/2023-01/1674313604_foni-club-p-chisto-chernii-fon-1.jpg);
    background-attachment:scroll;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:100% 100%;
}
input[type="text"],
input[type="password"] {
    padding: 10px;
    border-radius: 20px; 
    font-size: 13px; 
    outline: none
}

input[type="button"] {
    padding: 10px 20px;
    background-color: #252925; 
    color: rgb(255, 255, 255);
    border: none; 
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #585958;
}


.reviews{
    border-radius: 5px;
    border:2px solid; 
    border-color:white;
}

h1{
    color: #d7dad8;
}

#sendReview{
    transition: background-color 0.3s ease;
    cursor: pointer;
    background-color: #ffffff; 
    font-size: 14px;
}

#sendReview:hover{
    background-color: #7b7b7b;
}

input[name="gender"]{
    cursor: pointer;
}

input[name="newsletter"]{
    cursor: pointer; 
}
